.psyduck {
  margin-top: 40px;
  height: 600px;
  width: 600px;
  border: solid 1px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden; }

.head {
  position: relative;
  margin: 0 auto;
  margin-top: 94px;
  height: 230px;
  width: 320px;
  background: #f9be00;
  border: 6px solid black;
  border-radius: 50%; }

.hairs {
  position: absolute;
  left: 48%;
  z-index: -1; }
  .hairs .hair {
    position: absolute; }
    .hairs .hair.hair-left {
      top: -44px;
      left: -50px;
      height: 60px;
      width: 30px;
      border-right: 6px solid transparent;
      border-left: 7px solid transparent;
      border-top: 63px solid #000;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      transform: skew(11deg) rotate(-67deg); }
    .hairs .hair.hair-middle {
      top: -89px;
      transform: rotate(-30deg);
      left: -29px;
      height: 120px;
      width: 30px;
      border-right: 8px solid transparent;
      border-left: 7px solid transparent;
      border-top: 95px solid #000;
      border-top-left-radius: 8px;
      border-top-right-radius: 10px; }
    .hairs .hair.hair-right {
      top: -86px;
      left: -6px;
      height: 100px;
      width: 25px;
      border-right: 8px solid transparent;
      border-left: 7px solid transparent;
      border-top: 84px solid #000;
      border-top-left-radius: 5px;
      border-top-right-radius: 12px;
      transform: rotate(-3deg); }

.eyes .eye {
  position: absolute;
  width: 100px;
  height: 68px;
  border: 4px solid #000;
  background: #fff;
  border-radius: 50%; }
  .eyes .eye.eye-left {
    left: 47px;
    top: 62px;
    transform: rotate(-8deg); }
  .eyes .eye.eye-right {
    top: 61px;
    right: 25px;
    transform: rotate(8deg); }

.eyes .dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%; }
  .eyes .dot.dot-left {
    top: 26px;
    left: 50px; }
  .eyes .dot.dot-right {
    top: 24px;
    right: 52px; }

.mouth {
  position: relative;
  left: 4px; }

.duck-tips .tips-center {
  overflow: hidden;
  top: 150px;
  left: 60px;
  position: absolute;
  height: 130px;
  width: 240px;
  background: #FFF1AC;
  border: 5px solid #000;
  border-top-left-radius: 65px 60px;
  border-top-right-radius: 116px 60px;
  border-bottom-left-radius: 110px 50px;
  border-bottom-right-radius: 109px 60px; }

.duck-tips .tips-left {
  position: absolute;
  height: 27px;
  width: 97px;
  border-left: 5px solid #000;
  border-top: 5px solid #000;
  background: #FFF1AC;
  border-top-left-radius: 15px 30px;
  border-top-right-radius: 18px;
  top: 149px;
  left: 57px;
  transform: skew(17deg) rotateZ(-11deg); }

.duck-tips .tips-right {
  position: absolute;
  height: 28px;
  width: 96px;
  border-right: 5px solid #000;
  border-top: 5px solid #000;
  background: #FFF1AC;
  border-top-left-radius: 11px;
  border-top-right-radius: 14px;
  top: 139px;
  left: 167px;
  transform: skew(-4deg) rotateZ(2deg); }

.duck-tips .tips-upper {
  position: absolute;
  height: 43px;
  width: 55px;
  border-right: 5px solid #000;
  border-top: 5px solid #000;
  border-left: 7px solid #fff1ac;
  background: #FFF1AC;
  border-top-left-radius: 11px;
  border-top-right-radius: 14px;
  top: 123px;
  left: 134px;
  transform: skew(-7deg) rotateZ(-47deg); }

.duck-tips .tips-shadow {
  position: absolute;
  height: 130px;
  width: 240px;
  border: 6px solid #DACE95;
  border-top-left-radius: 65px 60px;
  border-top-right-radius: 116px 60px;
  border-bottom-left-radius: 110px 50px;
  border-bottom-right-radius: 109px 60px;
  bottom: 0;
  left: -3px;
  opacity: .4; }

.noses {
  position: absolute;
  left: 180px;
  top: 180px; }
  .noses .nose {
    position: absolute; }
    .noses .nose.nose-left {
      height: 10px;
      width: 12px;
      border-right: 2px solid #000;
      border-top: 4px solid #000;
      border-top-right-radius: 12px;
      transform: rotate(-9deg);
      top: -36px;
      left: -34px; }
    .noses .nose.nose-right {
      top: -36px;
      left: -6px;
      width: 3px;
      height: 8px;
      background: #000;
      border-radius: 14px;
      transform: rotate(33deg); }

.body {
  overflow: hidden;
  position: absolute;
  height: 280px;
  width: 360px;
  border: 6px solid #000;
  background: #f9be00;
  top: 240px;
  left: 124px;
  border-top-right-radius: 136px 140px;
  border-top-left-radius: 104px 140px;
  border-bottom-right-radius: 180px 140px;
  border-bottom-left-radius: 180px 132px; }
  .body .body-shadow {
    position: absolute;
    border-top-right-radius: 122px 140px;
    border-top-left-radius: 122px 142px;
    border-bottom-right-radius: 180px 122px;
    border-bottom-left-radius: 215px 132px;
    height: 280px;
    width: 380px;
    border: 12px solid #D7A400;
    top: -11px;
    left: -20px;
    border-left: 21px solid #d7a400;
    transform: rotate(4deg); }
