@-webkit-keyframes shake-hair {
  0% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  20% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
  30% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
  40% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
  50% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
  60% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg);}
  70% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  90% {-webkit-transform: rotate(3deg);transform: rotate(3deg);}
  100% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
}


@keyframes shake-hair {
  0% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  20% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
  30% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
  40% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
  50% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
  60% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg);}
  70% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  90% {-webkit-transform: rotate(3deg);transform: rotate(3deg);}
  100% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
}


.psyduck {
    margin-top: 40px;
    height: 600px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.head {
    position: relative;
    margin: 0 auto;
    margin-top: 94px;
    height: 230px;
    width: 320px;
    background: rgba(249, 190, 0, 1);
    border: 6px solid black;
    border-radius: 50%;
    z-index: 50;
}

.hair-s {
    position: absolute;
    left: 48%;
    top: 100px;
    z-index: -1;
    -webkit-animation: shake-hair 10s linear infinite ;
            animation: shake-hair 10s linear infinite ;
    .hair {
        position: absolute; /* opacity: .6;*/
        &.hair-left {
            top: -44px;
            left: -50px;
            height: 60px;
            width: 30px;
            border-right: 6px solid transparent;
            border-left: 7px solid transparent;
            border-top: 63px solid #000;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            -webkit-transform: skew(11deg) rotate(-67deg);
                    transform: skew(11deg) rotate(-67deg);
        }
        &.hair-middle {
            top: -89px;
            -webkit-transform: rotate(-30deg);
                    transform: rotate(-30deg);
            left: -29px;
            height: 120px;
            width: 30px;
            border-right: 8px solid transparent;
            border-left: 7px solid transparent;
            border-top: 95px solid #000;
            border-top-left-radius: 8px;
            border-top-right-radius: 10px;
        }
        &.hair-right {
            top: -86px;
            left: -6px;
            height: 100px;
            width: 25px;
            border-right: 8px solid transparent;
            border-left: 7px solid transparent;
            border-top: 84px solid #000;
            border-top-left-radius: 5px;
            border-top-right-radius: 12px;
            -webkit-transform: rotate(-3deg);
                    transform: rotate(-3deg)
        }
    }
}

.eyes {
    .eye {
        position: absolute;
        width: 100px;
        height: 68px;
        border: 4px solid #000;
        background: #fff;
        border-radius: 50%;
        &.eye-left {
            left: 47px;
            top: 62px;
            -webkit-transform: rotate(-8deg);
                    transform: rotate(-8deg);
        }
        &.eye-right {
            top: 61px;
            right: 25px;
            -webkit-transform: rotate(8deg);
                    transform: rotate(8deg);
        }
    }
    .dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: #000;
        border-radius: 50%;
        &.dot-left {
            top: 26px;
            left: 50px;
        }
        &.dot-right {
            top: 24px;
            right: 52px;
        }
    }
}

.mouth {
    position: relative;
    left: 4px;
}

.duck-tips {
    .tips-center {
        overflow: hidden;
        top: 150px;
        left: 60px;
        position: absolute;
        height: 130px;
        width: 240px;
        background: #FFF1AC;
        border: 5px solid #000;
        border-top-left-radius: 61px 59px;
        border-top-right-radius: 110px 60px;
        border-bottom-left-radius: 100px 60px;
        border-bottom-right-radius: 109px 60px;
    }
    .tips-left {
        position: absolute;
        height: 27px;
        width: 97px;
        border-left: 5px solid #000;
        border-top: 5px solid #000;
        background: #FFF1AC;
        border-top-left-radius: 15px 30px;
        border-top-right-radius: 18px;
        top: 149px;
        left: 57px;
        -webkit-transform: skew(17deg) rotateZ(-11deg);
                transform: skew(17deg) rotateZ(-11deg);
    }
    .tips-right {
        position: absolute;
        height: 28px;
        width: 96px;
        border-right: 5px solid #000;
        border-top: 5px solid #000;
        background: #FFF1AC;
        border-top-left-radius: 11px;
        border-top-right-radius: 14px;
        top: 139px;
        left: 167px;
        -webkit-transform: skew(-4deg) rotateZ(2deg);
                transform: skew(-4deg) rotateZ(2deg);
    }
    .tips-upper {
        position: absolute;
        height: 43px;
        width: 55px;
        border-right: 5px solid #000;
        border-top: 5px solid #000;
        border-left: 7px solid #FFF1AC;
        background: #FFF1AC;
        border-top-left-radius: 11px;
        border-top-right-radius: 14px;
        top: 123px;
        left: 134px;
        -webkit-transform: skew(-7deg) rotateZ(-47deg);
                transform: skew(-7deg) rotateZ(-47deg);
    }
    .tips-shadow {
        position: absolute;
        height: 130px;
        width: 240px;
        border: 6px solid #DACE95;
        border-top-left-radius: 65px 60px;
        border-top-right-radius: 116px 60px;
        border-bottom-left-radius: 110px 50px;
        border-bottom-right-radius: 109px 60px;
        bottom: 0;
        left: -3px;
        opacity: .4;
        z-index: 9;
    }
}

.noses {
    position: absolute;
    left: 180px;
    top: 180px;
    .nose {
        position: absolute;
        &.nose-left {
            height: 10px;
            width: 12px;
            border-right: 2px solid #000;
            border-top: 4px solid #000;
            border-top-right-radius: 12px;
            -webkit-transform: rotate(-9deg);
                    transform: rotate(-9deg);
            top: -36px;
            left: -34px;
        }
        &.nose-right {
            top: -36px;
            left: -6px;
            width: 3px;
            height: 8px;
            background: #000;
            border-radius: 14px;
            -webkit-transform: rotate(33deg);
                    transform: rotate(33deg);
        }
    }
}

.body {
    overflow: hidden;
    position: absolute;
    height: 280px;
    width: 360px;
    border: 6px solid #000;
    background: rgba(249, 190, 0, 1);
    top: 240px;
    left: 124px;
    border-top-right-radius: 136px 140px;
    border-top-left-radius: 104px 140px;
    border-bottom-right-radius: 180px 140px;
    border-bottom-left-radius: 180px 132px;
    z-index: 10;
    .body-shadow {
        position: absolute;
        border-top-right-radius: 122px 140px;
        border-top-left-radius: 122px 142px;
        border-bottom-right-radius: 180px 122px;
        border-bottom-left-radius: 215px 132px;
        height: 280px;
        width: 380px;
        border: 12px solid #D7A400;
        top: -11px;
        left: -20px;
        border-left: 21px solid #d7a400;
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
    }
}

.left-hand {
    position: absolute;
    left: 102px;
    top: 156px;
    z-index: 500;
    .left-core {
        width: 64px;
        height: 205px;
        background: #f9be00;
        border-bottom-left-radius: 141px 114%;
        border-top-left-radius: 190%;
        border-top-right-radius: 132%;
        border-bottom-right-radius: 72px 140%;
        -webkit-transform: rotateZ(3deg);
                transform: rotateZ(3deg);
        border: 6px solid #0A0A0A;
        border-bottom: none;
    }
    .left-finger {
        .left {
            position: absolute;
            left: 16px;
            top: -3px;
            width: 26px;
            height: 101px;
            background: #f9be00;
            border-bottom-left-radius: 104%;
            border-top-left-radius: 207%;
            border-top-right-radius: 151%;
            border-bottom-right-radius: 54%;
            border: 5px solid #0A0A0A;
            border-bottom: none;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 6%, 0 37%);
                    clip-path: polygon(0 0, 100% 0%, 100% 6%, 0 37%);
        }
        .middle {
            z-index: 10;
            position: absolute;
            left: 23px;
            top: -9px;
            width: 27px;
            height: 85px;
            background: #f9be00;
            border-bottom-left-radius: 0%;
            border-top-left-radius: 195%;
            border-top-right-radius: 117%;
            border-bottom-right-radius: 135%;
            border: 4.5px solid #0A0A0A;
            border-bottom: none;
            -webkit-transform: rotateZ(15deg);
                    transform: rotateZ(15deg);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 27%, 79% 24%, 19% 22%, 1% 12%, 0 6%);
                    clip-path: polygon(0 0, 100% 0, 100% 27%, 79% 24%, 19% 22%, 1% 12%, 0 6%);
        }
        .right {
            position: absolute;
            left: 34px;
            top: -1px;
            width: 26px;
            height: 95px;
            z-index: 15;
            background: #f9be00;
            border-bottom-left-radius: 104%;
            border-top-left-radius: 207%;
            border-top-right-radius: 151%;
            border-bottom-right-radius: 54%;
            border: 5px solid #0A0A0A;
            border-bottom: none;
            -webkit-transform: rotateZ(18deg);
                    transform: rotateZ(18deg);
            -webkit-clip-path: polygon(100% 0, 111% 41%, 96% 47%, 49% 25%, 21% 12%, 7% 8%, 7% 4%, 10% 4%, 0 7%, 0 0);
                    clip-path: polygon(100% 0, 111% 41%, 96% 47%, 49% 25%, 21% 12%, 7% 8%, 7% 4%, 10% 4%, 0 7%, 0 0);
        }
    }
}

.right-hand {
    position: absolute;
    left: 295px;
    top: 123px;
    .right-core {
        width: 200px;
        height: 216px;
        background: #f9be00;
        border-bottom-left-radius: 50px 84%;
        border-top-left-radius: 190%;
        border-top-right-radius: 168%;
        border-bottom-right-radius: 162%;
        border: 6px solid #0A0A0A;
        border-bottom: none;
        overflow: hidden;
    }
    .right-finger {
        position: absolute;
        top: 0;
        right: 0;
        .left {
            position: absolute;
            right: 40px;
            top: -7px;
            width: 25px;
            height: 67px;
            background: #f9be00;
            border-bottom-left-radius: 0%;
            border-top-left-radius: 190%;
            border-top-right-radius: 132%;
            border-bottom-right-radius: 135%;
            border: 5px solid #0A0A0A;
            border-bottom: none;
            -webkit-transform: rotateZ(-20deg);
                    transform: rotateZ(-20deg);
            -webkit-clip-path: polygon(100% 0, 100% 30%, 94% 41%, 84% 45%, 67% 45%, 27% 22%, 13% 19%, 1% 13%, 0 17%, 0 0);
                    clip-path: polygon(100% 0, 100% 30%, 94% 41%, 84% 45%, 67% 45%, 27% 22%, 13% 19%, 1% 13%, 0 17%, 0 0);
        }
        .right {}
    }
}

.tail {
    position: absolute;
    left: 100px;
    width: 38px;
    height: 135px;
    top: 360px;
    left: 104px;
    background: #f9be00;
    border-bottom-left-radius: 50px 84%;
    border-top-left-radius: 247%;
    border-top-right-radius: 57%;
    border-bottom-right-radius: 135%;
    border: 5px solid #0A0A0A;
    border-bottom: none;
    -webkit-transform: rotateZ(-64deg);
            transform: rotateZ(-64deg);
}

.foots {
    position: absolute;
    top: 480px;
    left: 100px;
}

.foot-left {
    position: absolute;
}

.fl-core,
.fr-core {
    position: absolute;
    background: #FFF1AC;
    width: 120px;
    height: 120px;
    top: 10px;
    left: 50px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 80% 50%, 55% 47%, 53% 21%);
            clip-path: polygon(0 0, 100% 0, 100% 93%, 80% 50%, 55% 47%, 53% 21%);
    border-top-left-radius: 100px 10px;
    border-bottom-right-radius: 10px 100px;
    border: 5px solid;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
}

.fl-left,
.fr-left {
    position: absolute;
    height: 5px;
    width: 54px;
    border-top: 5px solid black;
    border-radius: 42%;
    top: 43px;
    left: 40px;
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
}

.fl-right,
.fr-right {
    position: absolute;
    height: 5px;
    width: 44px;
    border-top: 5px solid black;
    border-radius: 42%;
    top: 60px;
    left: 138px;
    -webkit-transform: rotate(27deg);
            transform: rotate(27deg);
}

.fl-middle,
.fr-middle {
    position: absolute;
    height: 44px;
    width: 44px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    top: 22px;
    left: 98px;
    border-bottom-left-radius: 54px 20px;
    -webkit-transform: skewY(-14deg) rotate(-19deg);
            transform: skewY(-14deg) rotate(-19deg);
}

.foot-right {
    position: absolute;
    top: 0px;
    left: 400px;
    -webkit-transform: rotateY(165deg) rotate(1deg);
            transform: rotateY(165deg) rotate(1deg);
    .fr-left {}
    .fr-right {}
    .fr-middle {}
}

.code-info {
    font-family: monospace, sans-serif;
    font-size: 12px;
    color: #000;
    text-align: right; /* position: relative;*/
    right: 5px;
    bottom: 10px;
    position: fixed;
    p {
        margin: 0;
    }
    a {
        cursor: pointer;
        color: #000;
        text-decoration: none;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #000;
        }
    }
    .code-info-design {
        color: #000;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #000;
        }
    }
}